In [30]:
%pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zinor\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\zinor\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
import pandas as pd
import matplotlib.pyplot as plt

In [32]:

# Use double backslashes OR raw string OR forward slashes
df = pd.read_csv(r"C:\Users\Zinor\Desktop\Python\Juypter_notebooks\juptyerTestData\students.csv")

# Print first 5 rows to verify
print(df.head())

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eve   25       New York

In [36]:
filter_city = df["City"] == "San Francisco"
students_SanFrancisco =  df[filter_city]
print(len(students_SanFrancisco))

2

In [34]:
# Filter the DataFrame to only include rows where "City" is "Chicago"
df_filtered = df[df["City"] == "Chicago"]

# Calculate the average age
average_age_student = df_filtered["Age"].mean()

print(average_age_student)  # âœ… Correct Output

34.5

In [37]:
studentsFiltered = pd.DataFrame(df) 
studentsFiltered30 = studentsFiltered["Age"] >= 30
df[studentsFiltered30]

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
7    Helen   32    Los Angeles